{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frandom</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link href='{% static "newstyle.css" %}' rel="stylesheet">
  <link rel="stylesheet" href='{% static "style.css" %}' />
  <link rel="stylesheet" href='{% static "generalStyles.css" %}'>
  <link rel="stylesheet" href='{% static "cards.css" %}'>
  <link rel="stylesheet" href='{% static "movies.css" %}'>
  <style>
    .navbar-custom {
      background-color: #373737;
      color: #ffffff;
    }

    .navbar-nav>li {
      font-size: 22px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .hamburger {
            font-size: 30px;
            color: #fff;
    }

    @media (min-width: 768px) {
    .navbar-nav > li > a {
       /*(80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 7px;
      padding-bottom: 7px;
      line-height: 14px;
    }
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg py-0 navbar-dark fixed-top navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index.html' %}"></a>
      <button type="button" class="navbar-toggler ml-auto hidden-sm-up float-xs-right" data-toggle="collapse" data-target="#navbarResponsive">
        <i class="fas fa-bars hamburger"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index.html' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies.html' %}">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shows.html' %}">TV Shows</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'books.html' %}"><strong>Books</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h2 class="spinnnn" style="margin-top: 70px;"> THE BOOK ROULETTE </h2>

  <div>
    <div id="chart"></div>
  </div>
      <form class="formm" style="background-color: #373737" action="." method="get">
      <h3 style="color: #ffffff">CHOOSE A BOOK</h3>
            <div class="contain">
                  <p></p>
        <div class="select">
        <select name="genre_contains" id="genre" style="color: #ffffff">
          <option value="" {% if genre_val == '' %}selected disabled{%endif%}>Select Genre</option>
          <option value="" {% if genre_val == '' %} selected {% endif %}>Select All</option>
          <option value="Children" {% if genre_val == 'Children' %} selected {% endif %}>Kids</option>
          <option value="Horror" {% if genre_val == 'Horror' %} selected {% endif %}>Horror</option>
          <option value="Mystery" {% if genre_val == 'Mystery' %} selected {% endif %}>Mystery</option>
          <option value="Thriller" {% if genre_val == 'Thriller' %} selected {% endif %}>Thriller</option>
          <option value="19th Century Classics" {% if genre_val == '19th Century Classics' %} selected {% endif %}>Old Classics</option>
          <option value="Adventure" {% if genre_val == 'Adventure' %} selected {% endif %}>Adventure</option>
          <option value="Fantasy" {% if genre_val == 'Fantasy' %} selected {% endif %}>Fantasy</option>
          <option value="Crime" {% if genre_val == 'Crime' %} selected {% endif %}>Crime</option>
          <option value="Gothic" {% if genre_val == 'Gothic' %} selected {% endif %}>Gothic</option>
          <option value="Feminist" {% if genre_val == 'Feminist' %} selected {% endif %}>Feminist</option>
          <option value="Travel" {% if genre_val == 'Travel' %} selected {% endif %}>Travel</option>
          <option value="Non Fiction" {% if genre_val == 'Non-Fiction' %} selected {% endif %}>Non-Fiction</option>
          <option value="Science Fiction" {% if genre_val == 'Science Fiction' %} selected {% endif %}>Science Fiction</option>
          <option value="Little know authors" {% if genre_val == 'Little know authors' %} selected {% endif %}>Rare</option>
        </select>
                     <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
                  </div>

                    <p></p>
      <div class="select">
     <select name="rating_contains" id="rating" style="color: #ffffff">
          <option selected disabled>Select Rating</option>
          <option value="">Select All</option>
          <option value="3" {% if rating_val == '3' %}selected{%endif%}>>3</option>
          <option value="2" {% if rating_val == '2' %}selected{%endif%}>>2</option>
          <option value="1" {% if rating_val == '1' %}selected{%endif%}>>1</option>
        </select>
                       <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
                    </div>
                  <br>
                  <br>
                  <input type = "submit" value="Refresh Wheel">
            </div>
    </form>

  
  <div class="after-wheel-div" id="scrollTillMe">

  </div>

    <div class="filterContainerKV">
      <div class="filterHeadingKV">
        FILTER IT OUT !!
      </div>
            <form method="get" action="">

        <select name="genre_contains" id="genre" style="color: #ffffff">
          <option value="" {% if genre_val == '' %}selected disabled{%endif%}>Select Genre</option>
          <option value="" {% if genre_val == '' %} selected {% endif %}>Select All</option>
          <option value="Children" {% if genre_val == 'Children' %} selected {% endif %}>Kids</option>
          <option value="Horror" {% if genre_val == 'Horror' %} selected {% endif %}>Horror</option>
          <option value="Mystery" {% if genre_val == 'Mystery' %} selected {% endif %}>Mystery</option>
          <option value="Thriller" {% if genre_val == 'Thriller' %} selected {% endif %}>Thriller</option>
          <option value="19th Century Classics" {% if genre_val == '19th Century Classics' %} selected {% endif %}>Old Classics</option>
          <option value="Adventure" {% if genre_val == 'Adventure' %} selected {% endif %}>Adventure</option>
          <option value="Fantasy" {% if genre_val == 'Fantasy' %} selected {% endif %}>Fantasy</option>
          <option value="Crime" {% if genre_val == 'Crime' %} selected {% endif %}>Crime</option>
          <option value="Gothic" {% if genre_val == 'Gothic' %} selected {% endif %}>Gothic</option>
          <option value="Feminist" {% if genre_val == 'Feminist' %} selected {% endif %}>Feminist</option>
          <option value="Travel" {% if genre_val == 'Travel' %} selected {% endif %}>Travel</option>
          <option value="Non Fiction" {% if genre_val == 'Non-Fiction' %} selected {% endif %}>Non-Fiction</option>
          <option value="Science Fiction" {% if genre_val == 'Science Fiction' %} selected {% endif %}>Science Fiction</option>
          <option value="Little know authors" {% if genre_val == 'Little know authors' %} selected {% endif %}>Rare</option>
        </select>
     <select name="rating_contains" id="rating" style="color: #ffffff">
          <option value="" {% if rating_val == '' %}selected disabled{%endif%}>Select Rating</option>
          <option value="" {% if rating_val == '' %}selected{%endif%}>Select All</option>
          <option value="3" {% if rating_val == '3' %}selected{%endif%}>>3</option>
          <option value="2" {% if rating_val == '2' %}selected{%endif%}>>2</option>
          <option value="1" {% if rating_val == '1' %}selected{%endif%}>>1</option>
        </select>

    <input class="forfilters" type="submit" value="Search">
    </form>
  </div>



    <hr class="dividerLineKV">
  <div class="cardContainerKV">
    {% for data in book_details %}
    <div class="cardKV">

      <img src="{{ data.img_src }}" width="100%" class="cardImgKV" onclick='afterSpinHandler("{{ data.title }}")'>


    </div>
    {% endfor %}

  </div>
    
<!--     <div class="loadingCardsKV">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
 --></body>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
  var current = JSON.parse('{{ books | escapejs }}');

  console.log(current);
  let mySize = 500
  let radius = 60
  let innerFontsize = 30


  function resizeFunction(x) {
    if (x.matches) { 
      mySize = 260
      radius = 25
      innerFontsize = 14
    } else {
      mySize = 500
      radius = 60
      innerFontsize = 30
    }
  }

  var zyz = window.matchMedia("(max-width: 700px)")
  resizeFunction(zyz)
  zyz.addListener(resizeFunction)
  //var flag = false;
  current.forEach(element => {
    if(element.label.length > 8) {
      element.label= element.label.slice(0, 8);

    }
  });

  var padding = { top: 5, right: 50, bottom: 0, left: 0 },
    w = mySize - padding.left - padding.right,
    h = mySize - padding.top - padding.bottom,
    r = Math.min(w, h) / 2,
    rotation = 0,
    oldrotation = 0,
    picked = 100000,
    oldpick = [],
    // color = d3.scale.category20();//category20c()
    color = d3.scale.ordinal().range(["#834747", "#995650", "#986562", "#AB716D", "#834747", "#995650", "#986562", "#AB716D", "#834747", "#995650", "#986562", "#AB716D"]);

  var data = current;
  var svg = d3.select('#chart')
    .append("svg")
    .data([data])
    .attr("width", w + padding.left + padding.right)
    .attr("height", h + padding.top + padding.bottom)
    .attr("stroke", "white")
  var container = svg.append("g")
    .attr("class", "chartholder")
    .attr("transform", "translate(" + (w / 2 + padding.left) + "," + (h / 2 + padding.top) + ")");
  var vis = container
    .append("g");

  var pie = d3.layout.pie().sort(null).value(function (d) { return 1; });
  var arc = d3.svg.arc().outerRadius(r);
  var arcs = vis.selectAll("g.slice")
    .data(pie)
    .enter()
    .append("g")
    .attr("class", "slice");

  arcs.append("path")
    .attr("fill", function (d, i) { return color(i); })
    .attr("d", function (d) { return arc(d); })
    .style({
      "font-size": '14px',
      "stroke": 'white',
      "stroke-width": "3.5px",
    })
  // add the text
  arcs.append("text").attr("transform", function (d) {
    d.innerRadius = 0;
    d.outerRadius = r;
    d.angle = (d.startAngle + d.endAngle) / 2;
    return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius - 10) + ")";
  })
    .attr("text-anchor", "end")
    .text(function (d, i) {
      return data[i].label;
    });
  container.on("click", spin);

  const afterSpinHandler = (pickedItem) => {
    let afterWheelDiv = document.getElementsByClassName("after-wheel-div")[0];
    document.getElementById("scrollTillMe").scrollIntoView();

    //document.getElementById("pickedItem").value = pickedItem;


    // note that movie name is in pickedItem


    let content = `
    <div class="cover"><div class="grid-flex">
      <div class="col col-text">
        <div class="Aligner-item">
          <h2>Movie Title</h2>
          <hr style="background-color:#C3073F">
          <h6> Goodreads Rating: </h6><br>
          <h7> Genre: </h7><br>
        </div>
      </div>
      <div class="col positionbb">
      <img src="" width="6%" class="col positionbb">
      </div>
    </div></div>
    `

    current = JSON.parse("{{ raw_details_books | escapejs }}");

    current.forEach(element => {
      console.log(element)
      if (element.title.slice(0, 8) == pickedItem || element.title == pickedItem) {
        //console.log(element.title)
        console.log(pickedItem)
        //element.stars = element.stars.slice(1, -1);
        element.genre = element.genre;
        if (element.genre == "Little know authors"){
          element.genre = "Little known authors"
        }
        element.author = element.author;


        content = `
    <div class="cover"><div class="grid-flex">
      <div class="col col-text">
        <div class="Aligner-item">
          <h2>`+element.title+`</h2>
          <hr style="background-color:#C3073F">
          <h7> <b>Author:</b></h7> `+element.author+`<br>
          <h7> <b>Goodreads Rating:</b></h7> `+element.rating+`<br>
          <h7> <b>Genre:</b></h7> `+element.genre+` <br>
        </div>
      </div>
      <div class="col positionbb">
      <img src = `+element.img_src+` width="50" height="400" class="col positionbb">
      </div>
    </div></div>
    `
      }
    });

    afterWheelDiv.innerHTML = content;


    afterWheelDiv.classList.add("after-wheel-div-expand");
  }

  function spin(d) {

    container.on("click", null);
    //all slices have been seen, all done
    console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
    if (oldpick.length == data.length) {
      console.log("done");
      container.on("click", null);
      return;
    }
    var ps = 360 / data.length,
      pieslice = Math.round(1440 / data.length),
      rng = Math.floor((Math.random() * 1440) + 360);

    rotation = (Math.round(rng / ps) * ps);

    picked = Math.round(data.length - (rotation % 360) / ps);
    picked = picked >= data.length ? (picked % data.length) : picked;
    if (oldpick.indexOf(picked) !== -1) {
      d3.select(this).call(spin);
      return;
    } else {
      oldpick.push(picked);
    }
    rotation += 90 - Math.round(ps / 2);
    vis.transition()
      .duration(3000)
      .attrTween("transform", rotTween)
      .each("end", function () {
        //mark question as seen
        d3.select(".slice:nth-child(" + (picked + 1) + ") path")
          .attr("fill", "#111");
        //populate question
        d3.select("#question h1")
          .text(data[picked].question);
        oldrotation = rotation;

        container.on("click", spin);

        afterSpinHandler(data[picked].label);
      });
  }


  //make arrow
  svg.append("g")
    .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h / 2) + padding.top) + ")")
    .append("path")
    .attr("d", "M-" + (r * .15) + ",0L0," + (r * .05) + "L0,-" + (r * .05) + "Z")
    .style({ "fill": "white" });

  //draw spin circle
  container.append("circle")
    .attr("cx", 0)
    .attr("cy", 0)
    .attr("r", radius)
    .style({ "fill": "white", "cursor": "pointer" });
  //spin text

  container.append("text")
    .attr("x", 0)
    .attr("y", 15)
    .attr("text-anchor", "middle")
    .text("SPIN")
    .style({ "font-weight": "bold", "font-size": toString(innerFontsize) + "px" });


  function rotTween(to) {
    var i = d3.interpolate(oldrotation % 360, rotation);
    return function (t) {
      return "rotate(" + i(t) + ")";
    };
  }


  function getRandomNumbers() {
    var array = new Uint16Array(1000);
    var scale = d3.scale.linear().range([360, 1440]).domain([0, 100000]);
    if (window.hasOwnProperty("crypto") && typeof window.crypto.getRandomValues === "function") {
      window.crypto.getRandomValues(array);
      console.log("works");
    } else {
      //no support for crypto, get crappy random numbers
      for (var i = 0; i < 1000; i++) {
        array[i] = Math.floor(Math.random() * 100000) + 1;
      }
    }
    return array;
  }
</script>
<script src='{% static "main.js" %}'></script>

</html>
