{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cooper-hewitt" type="text/css" />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cooper-hewitt" type="text/css" />
  <link href='{% static "newstyle.css" %}' rel="stylesheet">
  <link rel="stylesheet" href='{% static "style.css" %}' />
  <link rel="stylesheet" href='{% static "generalStyles.css" %}'>
  <link rel="stylesheet" href='{% static "newstyle.css" %}'>
  <link rel="stylesheet" href='{% static "cards.css" %}'>
  <link rel="stylesheet" href='{% static "movies.css" %}'>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light sticky-top">

    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src='{% static "ohyes.png" %}' width="70" height="40"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'index.html' %}">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'movies.html' %}">Movies</a>
          </li>
          <li class="nav-item">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'shows.html' %}">TV Shows</a>
          </li>
          <li class="nav-item">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'books.html' %}">Books</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <p class="spinnnn"> THE BOOK ROULETTE <i class="fas fa-film"></i></p>

  <div>
    <div id="chart"></div>
  </div>

  
        <form style="background-color: #373737" action="." method="get">

      <h3 style="color: #ffffff">SPIN THE WHEEL</h3>
            <div class="contain">
              <h4 style="color: #ffffff">GENRE</h4>

                  <div class="select">
                     <select name="rating_contains" id="rating" style="color: #ffffff">
                        <option selected disabled>Select Rating</option>
                        <option value="">Select All</option>
                        <option value="Children">Kids</option>
                        <option value="Horror">Horror</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Thriller">Thriller</option>
                        <option value="19th Century Classics">Old Classics</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Crime">Crime</option>
                        <option value="Gothic">Gothic</option>
                        <option value="Feminist">Feminist</option>
                        <option value="Travel">Travel</option>
                        <option value="Non Fiction">Non-Fiction</option>
                        <option value="Science Fiction">Science Fiction</option>
                        <option value="Little known authors">Rare</option>
                     </select>
                  </div>


                <h4 style="color: #ffffff">RATING</h4>

                    <div class="select">
                       <select name="rating_contains" id="rating" style="color: #ffffff">
                          <option selected disabled>Select Rating</option>
                          <option value="">Select All</option>
                          <option value="4">>4</option>
                          <option value="3">>3</option>
                          <option value="2">>2</option>
                       </select>
                    </div>
                  <br>
                  <br>
                  <input type = "submit">
            </div>
    </form>



    <div class="after-wheel-div">

    </div>


    <div class="filterContainerKV">
      <div class="filterHeadingKV">
        Filters
      </div>
      <select>
        <option value="0">Select Star:</option>
        <option value="1">Audi</option>
        <option value="2">BMW</option>
        <option value="3">Citroen</option>
        <option value="4">Ford</option>
        <option value="5">Honda</option>
        <option value="6">Jaguar</option>
        <option value="7">Land Rover</option>
        <option value="8">Mercedes</option>
        <option value="9">Mini</option>
        <option value="10">Nissan</option>
        <option value="11">Toyota</option>
        <option value="12">Volvo</option>
      </select>
      <select>
        <option value="0">Select Genre:</option>
        <option value="1">Audi</option>
        <option value="2">BMW</option>
        <option value="3">Citroen</option>
        <option value="4">Ford</option>
        <option value="5">Honda</option>
        <option value="6">Jaguar</option>
        <option value="7">Land Rover</option>
        <option value="8">Mercedes</option>
        <option value="9">Mini</option>
        <option value="10">Nissan</option>
        <option value="11">Toyota</option>
        <option value="12">Volvo</option>
      </select>

    </div>


    <hr class="dividerLineKV">
    <div class="cardContainerKV">
      {% for data in book_details %}
    <div class="cardKV">
      
      <img
        src="{{ data.img_src }}"
        width="100%" class="cardImgKV">
      

    </div>
    {% endfor %}
    
    <div class="loadingCardsKV">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
</body>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

  //var current1 = '{{ movies }}';
  //var current2 = current1.replace("'", '"')
  //console.log(current2);
  var current =JSON.parse('{{ books | escapejs }}');
  console.log(current);
  

  var padding = { top: 5, right: 50, bottom: 0, left: 0 },
    w = 500 - padding.left - padding.right,
    h = 500 - padding.top - padding.bottom,
    r = Math.min(w, h) / 2,
    rotation = 0,
    oldrotation = 0,
    picked = 100000,
    oldpick = [],
    // color = d3.scale.category20();//category20c()
    color = d3.scale.ordinal().range(["#834747", "#995650", "#986562", "#AB716D", "#834747", "#995650", "#986562", "#AB716D", "#834747", "#995650", "#986562", "#AB716D"]);

  var data = current;
  var svg = d3.select('#chart')
    .append("svg")
    .data([data])
    .attr("width", w + padding.left + padding.right)
    .attr("height", h + padding.top + padding.bottom);
  var container = svg.append("g")
    .attr("class", "chartholder")
    .attr("transform", "translate(" + (w / 2 + padding.left) + "," + (h / 2 + padding.top) + ")");
  var vis = container
    .append("g");

  var pie = d3.layout.pie().sort(null).value(function (d) { return 1; });
  var arc = d3.svg.arc().outerRadius(r);
  var arcs = vis.selectAll("g.slice")
    .data(pie)
    .enter()
    .append("g")
    .attr("class", "slice");

  arcs.append("path")
    .attr("fill", function (d, i) { return color(i); })
    .attr("d", function (d) { return arc(d); });
  // add the text
  arcs.append("text").attr("transform", function (d) {
    d.innerRadius = 0;
    d.outerRadius = r;
    d.angle = (d.startAngle + d.endAngle) / 2;
    return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius - 10) + ")";
  })
    .attr("text-anchor", "end")
    .text(function (d, i) {
      return data[i].label;
    });
  container.on("click", spin);

  const afterSpinHandler = (pickedItem) => {
    let afterWheelDiv = document.getElementsByClassName("after-wheel-div")[0];

    afterWheelDiv.innerText = pickedItem;


    afterWheelDiv.classList.add("after-wheel-div-expand");
  }

  function spin(d) {

    container.on("click", null);
    //all slices have been seen, all done
    console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
    if (oldpick.length == data.length) {
      console.log("done");
      container.on("click", null);
      return;
    }
    var ps = 360 / data.length,
      pieslice = Math.round(1440 / data.length),
      rng = Math.floor((Math.random() * 1440) + 360);

    rotation = (Math.round(rng / ps) * ps);

    picked = Math.round(data.length - (rotation % 360) / ps);
    picked = picked >= data.length ? (picked % data.length) : picked;
    if (oldpick.indexOf(picked) !== -1) {
      d3.select(this).call(spin);
      return;
    } else {
      oldpick.push(picked);
    }
    rotation += 90 - Math.round(ps / 2);
    vis.transition()
      .duration(3000)
      .attrTween("transform", rotTween)
      .each("end", function () {
        //mark question as seen
        d3.select(".slice:nth-child(" + (picked + 1) + ") path")
          .attr("fill", "#111");
        //populate question
        d3.select("#question h1")
          .text(data[picked].question);
        oldrotation = rotation;

        container.on("click", spin);

        afterSpinHandler(data[picked].label);
      });
  }


  //make arrow
  svg.append("g")
    .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h / 2) + padding.top) + ")")
    .append("path")
    .attr("d", "M-" + (r * .15) + ",0L0," + (r * .05) + "L0,-" + (r * .05) + "Z")
    .style({ "fill": "black" });

  //draw spin circle
  container.append("circle")
    .attr("cx", 0)
    .attr("cy", 0)
    .attr("r", 60)
    .style({ "fill": "white", "cursor": "pointer" });
  //spin text

  container.append("text")
    .attr("x", 0)
    .attr("y", 15)
    .attr("text-anchor", "middle")
    .text("SPIN")
    .style({ "font-weight": "bold", "font-size": "30px" });


  function rotTween(to) {
    var i = d3.interpolate(oldrotation % 360, rotation);
    return function (t) {
      return "rotate(" + i(t) + ")";
    };
  }


  function getRandomNumbers() {
    var array = new Uint16Array(1000);
    var scale = d3.scale.linear().range([360, 1440]).domain([0, 100000]);
    if (window.hasOwnProperty("crypto") && typeof window.crypto.getRandomValues === "function") {
      window.crypto.getRandomValues(array);
      console.log("works");
    } else {
      //no support for crypto, get crappy random numbers
      for (var i = 0; i < 1000; i++) {
        array[i] = Math.floor(Math.random() * 100000) + 1;
      }
    }
    return array;
  }
</script>
<script src='{% static "main.js" %}'></script>

</html>