html, body {
    height: 100%;
    width: 100%;
/*    margin: 0px;
*/}

body {
    background-image: url("./assets/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  'PT Sans', sans-serif;
    font-size: 25px;
}

.navbar-brand {
    position: relative;
    background: url("./assets/logo.png");
    width: 108px;
    height: 58px;
    margin-top: auto;
    background-size: contain;
}

* {
    box-sizing: border-box;
}
.headss{
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  text-align: center;
}
.parass{
  font-size: 25px;
font-family: 'PT Sans', sans-serif;
}
#over {
    width: 100%;
    z-index: 10;
    position: relative;    
    height: 3000px;
}

#under {
    position: fixed;
    top: 100px;
    width: 100%;
    left: 0px;
    height: 100%;
    background: #333335;
    z-index: 1;
}
.btnss{
  font-size: 23px;  
  margin:auto;
  box-shadow: 0 6px #808080 ;
  margin-bottom: 300px;
}
.btnss:active{
  box-shadow: none;
  position: relative;
  top:7px;
}
.col-text {
    height:20em;
    text-align: center;
  }

.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 250px;
  margin-bottom: 250px;

}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text-top{
  display: flex;
/*    align-items: center;
*/    justify-content: center;
  color:white;
  text-align: center;
  vertical-align: middle;
  margin-bottom: inherit;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}
.Aligner-item {
  width: 60%;
}
.col-image-movie {

  background-position:center;
  background-image: url(./assets/movie.gif);
  background-repeat: no-repeat;
}
.col-image-show {

  background-position:center;
  background-image: url(./assets/tvv.gif);
  background-repeat: no-repeat;
}
.col-image-book {

  background-position:center;
  background-image: url(./assets/bookyy.gif);
  background-repeat: no-repeat;
}

.flexbox-container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
  min-height: 24em;

}

  @media (max-width: 1100px) {
    .grid-flex {
      height: 40em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column;
     }
    .col {
      order:vertical;
    }
    .col-left {
      -webkit-box-ordinal-group:0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
    }
    .Aligner-item {
      width: 90%;
    }
  }
  header {
    width: 100%;
    height: 150px;
}

/*nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    float: right;
    margin: 0;
    padding-right: 42px;
}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
      text-decoration: none;
      font-size: 20px;
      color: #ffffff;
}*/

.logo {

      height: 42px;
      float: left;
      margin: 16px 42px;
}

.content {
      font-size: 20px;
      margin: 15px;
}



.icon-bar {
width: 22px; 
height: 2px;
background-color: #B6B6B6;
display: block;
transition: all 0.2s;
margin-top: 12px
}

[data-scroll]{
  transition: all 2s;
}
[data-scroll="in"]{
  opacity: 1;
/*  transform: translateX(0);
*/}
[data-scroll="out"]{
  opacity: 0;
  transform: translateX(-200px);
}
