<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rec</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap">
    <!-- <link href='{% static "newstyle.css"%}' rel="stylesheet">
    <link rel="stylesheet" href='{%static "./index.css" %}'> -->
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./newstyle.css">
</head>

<body>

    <div id="over">
      <nav class="navbar navbar-expand-md navbar-light sticky-top">

        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img width="70" height="40" src='{% static "ohyes.png"  %}'></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index.html' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'movies.html' %}">Movies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'shows.html' %}">TV Shows</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'books.html' %}">Books</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
         <div class="grid-flex">
            <div class="col col-text-top">
              <div class="Aligner-item">
                <h3 style="text-align: center; font-size: 35px;">HOW TO QUARANTINE 101</h3>
                <p>If you have been constantly nagging people to recommend you TV shows and movies to watch or books to read, your search ends here.
                  Sweat no more, filter according to your preferences or simply spin a wheel customized to your choice and get a list of recommendations for yourself.We’ve got you covered, Happy Quarantining!.
                </p>
              </div>
            </div>
          </div>
        
        <div class="grid-flex">
            <div class="col col-text">
              <div class="Aligner-item">
                <h3 style="text-align: center; font-size: 45px; padding-bottom: 20px;">MOVIES</h3>
                <p>&ldquo;I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.&rdquo;
                  <cite>- Maya Angelou</cite>
                </p>
                <button type="button" class="btn btn-light" style="font-size: 23px;  margin:auto; display:block;">For MORE</button>
              </div>
            </div>
            <div class="col col-image-movie">
            </div>
      
          </div>
      
          <div class="grid-flex">
            <div class="col col-image-show" >
              &nbsp;
            </div>
            <div class="col col-text col-left">
              <div class="Aligner-item">
                <p>&ldquo;Simple is good.&rdquo;
                  <cite>- Jim Henson</cite>
                </p>
              </div>
            </div>
          </div>
      
          <div class="grid-flex">
      
            <div class="col col-text">
              <div class="Aligner-item">
                <p>&ldquo;Everybody has a plan until they get punched in the mouth.&rdquo;
                  <cite>- Mike Tyson</cite>
                </p>
              </div>
            </div>
            <div class="col col-image-book" >
              &nbsp;
            </div>
          </div>
               
          <div class="grid-flex">
            <div class="col col-text">
              <div class="Aligner-item">
                <p>This website is an attempt by college students to simplify the process of finding content to watch or books to read during this quarantine as a one stop solutions for everyone who has been constantly looking out for such content through different sources.</p>

                  <p>We would sincerely appreciate your feedback!</p>
                  <p>Happy Quarantining, stay safe, stay at home!</p>
              </div>
            </div>
          </div>

       </div>

    <div id="under"></div>
    <script src='{% static "./index.js" %}'></script>
</body>

</html>
