{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cooper-hewitt" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cooper-hewitt" type="text/css"/>
  <link href='{% static "newstyle.css" %}' rel="stylesheet">

  <link rel="stylesheet" href='{% static "generalStyles.css" %}'>
  <link rel="stylesheet" href='{% static "newstyle.css" %}'>
  <link rel="stylesheet" href='{% static "style.css" %}' />
  <link rel="stylesheet" href='{% static "cards.css" %}'>
  <link rel="stylesheet" href='{% static "movies.css" %}'>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light sticky-top">

    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src='{% static "ohyes.png" %}' width="70" height="40"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'index.html' %}">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'movies.html' %}">Movies</a>
          </li>
          <li class="nav-item">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'shows.html' %}">TV Shows</a>
          </li>
          <li class="nav-item">
            <a style="color:#ffffff;" class="nav-link" href="{% url 'books.html' %}">Books</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <p class="spinnnn">SPIN THE WHEEL, FIND YOURSELF A MOVIE DEAL!!  <i class="fas fa-film"></i></p>

    <div>
    <div id="chart"></div>
    </div>

    

   <form action="." method="get">

   <form style="background-color: #373737">

    <h3>SPIN THE WHEEL</h3>
    <div class="ops">
        <label class="container">Random spin
          <input type="radio" >
          <span class="checkmark"></span>
        </label>
        <label class="container">Filter spin
          <input type="radio">
          <span class="checkmark"></span>
        </label>
    </div>

    <div class="contain">
      <h3>GENRE</h3>

      <div class="select-box">
        <div class="options-container">

          <div class="option">
            <input type="radio" class="radio" id="Action" name="genre_contains" />
            <label for="Action">Action</label>

          </div>

          <div class="option">
            <input type="radio" class="radio" id="Adventure" name="genre_contains" />
            <label for="Adventure">Adventure</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Comedy" name="genre_contains" />
            <label for="Comedy">Comedy</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Crime" name="genre_contains" />
            <label for="Crime">Crime</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Drama" name="genre_contains" />
            <label for="Drama">Drama</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Family" name="genre_contains" />
            <label for="Family">Family</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Fantasy" name="genre_contains" />
            <label for="Fantasy">Fantasy</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Horror" name="genre_contains" />
            <label for="Horror">Horror</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Mystery" name="genre_contains" />
            <label for="Mystery">Mystery</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Romance" name="genre_contains" />
            <label for="Romance">Romance</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Sci-Fi" name="genre_contains" />
            <label for="Sci-Fi">Sci-Fi</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Thriller" name="genre_contains" />
            <label for="Thriller">Thriller</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Travel" name="genre_contains" />
            <label for="Travel">Travel</label>
          </div>

        </div>

        <div class="selected">
          Select Genre category
        </div>

        <div class="search-box">
          <input type="text" placeholder="Start Typing..." />
        </div>
      <input type="submit" value = "Filter" />
    </div>
    


    <h3>IMDB RATING</h3>
    <div class="select-box">
      <div class="options-container">

        <div class="option">
          <input type="radio" class="radio" id="9" name="rating" />
          <label for="9">>9</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="8" name="rating" />
          <label for="8">>8</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="7" name="rating" />
          <label for="7">>7</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="6" name="rating" />
          <label for="6">>6</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="5" name="rating" />
          <label for="5">>5</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="any" name="rating" />
          <label for="any">Any Score</label>
        </div>
      </div>

      <div class="selected">
        Select Rating
      </div>

      <div class="search-box">
        <input type="text" placeholder="Start Typing..." />
      </div>
    </div>

    <h3>YEAR</h3>
    <div class="select-box">
      <div class="options-container">

        <div class="option">
          <input type="radio" class="radio" id="latest" name="year" />
          <label for="latest">Latest</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="2010" name="year" />
          <label for="2010">2010s</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="2000" name="year" />
          <label for="2000">2000s</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="1990" name="year" />
          <label for="1990">1990s</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="1980" name="year" />
          <label for="1980">1980s</label>
        </div>

        <div class="option">
          <input type="radio" class="radio" id="1970" name="year" />
          <label for="1970">1970s</label>
        </div>
      </div>

      <div class="selected">
        Select Release Year
      </div>

      <div class="search-box">
        <input type="text" placeholder="Start Typing..." />
      </div>
    </div>
    </div>
    

    </form>
    </div>



    
    <div class="after-wheel-div">
        
    </div>

    
    <div class="filterContainerKV">   
      <div class="filterHeadingKV">
        Filters
      </div>
      <select>
          <option value="0">Select Star:</option>
          <option value="1">Audi</option>
          <option value="2">BMW</option>
          <option value="3">Citroen</option>
          <option value="4">Ford</option>
          <option value="5">Honda</option>
          <option value="6">Jaguar</option>
          <option value="7">Land Rover</option>
          <option value="8">Mercedes</option>
          <option value="9">Mini</option>
          <option value="10">Nissan</option>
          <option value="11">Toyota</option>
          <option value="12">Volvo</option>
      </select>
      <select>
          <option value="0">Select Genre:</option>
          <option value="1">Audi</option>
          <option value="2">BMW</option>
          <option value="3">Citroen</option>
          <option value="4">Ford</option>
          <option value="5">Honda</option>
          <option value="6">Jaguar</option>
          <option value="7">Land Rover</option>
          <option value="8">Mercedes</option>
          <option value="9">Mini</option>
          <option value="10">Nissan</option>
          <option value="11">Toyota</option>
          <option value="12">Volvo</option>
      </select>

    </div>
      

    <hr class="dividerLineKV">
    <div class="cardContainerKV">
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">

        </div>
        <div class="cardKV">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2vwxy5KaCu7cRuYYdgNdQKddux5OYgGwsPo0kqP_xzLnsDV"
                width="100%" class="cardImgKV">
        </div>
    </div>

    <div class="loadingCardsKV">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</body>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src='{% static "movies.js" %}'></script>
  <script src='{% static "main.js" %}'></script>
</html>