{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cooper-hewitt" type="text/css" />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cooper-hewitt" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link href='{% static "newstyle.css" %}' rel="stylesheet">
  <link rel="stylesheet" href='{% static "style.css" %}' />
  <link rel="stylesheet" href='{% static "generalStyles.css" %}'>
  <!-- <link rel="stylesheet" href='{% static "newstyle.css" %}'> -->
  <link rel="stylesheet" href='{% static "cards.css" %}'>
  <link rel="stylesheet" href='{% static "movies.css" %}'>

  <style>
    .navbar-custom {
      background-color: #373737;
      color: #ffffff;
    }

    .navbar-nav>li {
      font-size: 24px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .hamburger {
            font-size: 30px;
            color: #fff;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg py-0 navbar-dark navbar-custom">

    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button type="button" 
              class="navbar-toggler ml-auto custom-toggler" 
              data-toggle="collapse" 
              data-target="#navbarResponsive">
        <i class="fas fa-bars hamburger"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index.html' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'movies.html' %}"><strong>Movies</strong></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'shows.html' %}">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books.html' %}">Books</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <p></p>
  <h2 class="spinnnn">SPIN THE WHEEL,</h2>
  <h2 class="spinnnn">FIND YOURSELF A MOVIE DEAL!!
    <!-- <i class="fas fa-film"></i> -->
  </h2>

  <div>
    <div id="chart"></div>
  </div>

  <form class="formm" style="background-color: #373737" action="." method="get">
    <h3 style="color: #ffffff">CHOOSE A MOVIE</h3>
    <div class="contain">
      <!-- <h4 style="color: #ffffff">GENRE</h4> -->
      <p></p>
      <div class="select">
        <select name="genre_contains" id="genre" style="color: #ffffff">
          <option selected disabled>Select Genre</option>
          <option value="">Select All</option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Comedy">Comedy</option>
          <option value="Crime">Crime</option>
          <option value="Drama">Drama</option>
          <option value="Family">Family</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Horror">Horror</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Thriller">Thriller</option>
          <option value="Travel">Travel</option>
        </select>
        <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
      </div>

      <!-- <h4 style="color: #ffffff">RATING</h4> -->

      <p></p>
      <div class="select">
        <select name="rating_contains" id="rating" style="color: #ffffff">
          <option selected disabled>Select Rating</option>
          <option value="">Select All</option>
          <option value="8">>8</option>
          <option value="7">>7</option>
          <option value="6">>6</option>
          <option value="5">>5</option>
        </select>
        <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
      </div>

      <!-- <h4 style="color: #ffffff">YEAR</h4> -->

      <p></p>
      <div class="select">
        <select name="year_contains" id="year" style="color: #ffffff">
          <option selected disabled>Select Release Year</option>
          <option value="">Select All</option>
          <option value="2010">After 2010</option>
          <option value="1990">After 1990</option>
          <option value="1980">After 1980</option>
          <option value="1970">After 1970</option>
          <option value="1960">After 1960</option>
          <option value="1960">After 1950</option>
          <option value="1960">After 1940</option>
        </select>
        <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
      </div>

      <p></p>
      <input type="submit" value="Spin the Wheel">
      <!-- <input type="submit"> -->
    </div>
  </form>


  <div class="after-wheel-div" id="scrollTillMe">

  </div>
  


  <div class="filterContainerKV">
    <div class="filterHeadingKV">
      FILTER IT OUT !!
    </div>
      <form method="get" action="">
        <!--<input class="nna" type="text" placeholder="Search for movies\directors\stars">-->
      
    </div>
    <select name="genre_contains" id="genre" style="color: #ffffff">
          <option selected disabled>Select Genre</option>
          <option value="">Select All</option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Comedy">Comedy</option>
          <option value="Crime">Crime</option>
          <option value="Drama">Drama</option>
          <option value="Family">Family</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Horror">Horror</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
          <option value="Science Fiction">Sci-Fi</option>
          <option value="Thriller">Thriller</option>
          <option value="Travel">Travel</option>
        </select>
    <select name="year_contains" id="year" style="color: #ffffff">
          <option selected disabled>Select Release Year</option>
          <option value="">Select All</option>
          <option value="2010">After 2010</option>
          <option value="1990">After 1990</option>
          <option value="1980">After 1980</option>
          <option value="1970">After 1970</option>
          <option value="1960">After 1960</option>
          <option value="1960">After 1950</option>
          <option value="1960">After 1940</option>
        </select>
    <select name="oscar_contains">
      <option value="">Select Oscar:</option>
      <option value="True">Yes</option>
      <option value="False">No</option>
    </select>
    <input class="forfilters" type="submit" value="Search">
    </form>
  </div>


  <hr class="dividerLineKV">
  <div class="cardContainerKV">
    {% for data in raw_details %}
    <div class="cardKV">

      <img src="{{ data.img_src }}" width="100%" class="cardImgKV" onclick='afterSpinHandler("{{ data.title }}")'>


    </div>
    {% endfor %}

  </div>

  <div class="loadingCardsKV">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</body>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
  var current = JSON.parse('{{ movies | escapejs }}');
  console.log(current);


  var padding = { top: 5, right: 50, bottom: 0, left: 0 },
    w = 500 - padding.left - padding.right,
    h = 500 - padding.top - padding.bottom,
    r = Math.min(w, h) / 2,
    rotation = 0,
    oldrotation = 0,
    picked = 100000,
    oldpick = [],
    // color = d3.scale.category20();//category20c()
    color = d3.scale.ordinal().range(["#834747", "#995650", "#986562", "#AB716D", "#834747", "#995650", "#986562", "#AB716D", "#834747", "#995650", "#986562", "#AB716D"]);

  var data = current;
  var svg = d3.select('#chart')
    .append("svg")
    .data([data])
    .attr("width", w + padding.left + padding.right)
    .attr("height", h + padding.top + padding.bottom)
    .attr("stroke", "white")
  var container = svg.append("g")
    .attr("class", "chartholder")
    .attr("transform", "translate(" + (w / 2 + padding.left) + "," + (h / 2 + padding.top) + ")");
  var vis = container
    .append("g");

  var pie = d3.layout.pie().sort(null).value(function (d) { return 1; });
  var arc = d3.svg.arc().outerRadius(r);
  var arcs = vis.selectAll("g.slice")
    .data(pie)
    .enter()
    .append("g")
    .attr("class", "slice");

  arcs.append("path")
    .attr("fill", function (d, i) { return color(i); })
    .attr("d", function (d) { return arc(d); })
    .style({
      "font-size": '17px',
      "stroke": 'white',
      "stroke-width": "2px",
    })
  // add the text
  arcs.append("text").attr("transform", function (d) {
    d.innerRadius = 0;
    d.outerRadius = r;
    d.angle = (d.startAngle + d.endAngle) / 2;
    return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius - 10) + ")";
  })
    .attr("text-anchor", "end")
    .text(function (d, i) {
      return data[i].label;
    });
  container.on("click", spin);

  const afterSpinHandler = (pickedItem) => {
    let afterWheelDiv = document.getElementsByClassName("after-wheel-div")[0];
    document.getElementById("scrollTillMe").scrollIntoView();

    //document.getElementById("pickedItem").value = pickedItem;


    // note that movie name is in pickedItem


    let content = `
    <div class="cover"><div class="grid-flex">
      <div class="col col-text">
        <div class="Aligner-item">
          <h2>Movie Title</h2>
          <hr style="background-color:#C3073F">
          <h6> IMDB Rating: </h6><br>
          <h6> Starring: </h6><br>
          <h7> Genre: </h7><br>
          <h7> Director: </h7><br>
          <h7> Release Year: </h7><br>
          <h7> Duration: </h7><br>
        </div>

      </div>
      <div class="col position">
      <iframe width="500" height="450" src="https://www.youtube.com/embed/y45lh8oBzOo" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div></div>
    `

    current = JSON.parse("{{ movies_details | escapejs }}");

    current.forEach(element => {
      //console.log(element)
      if (element.title == pickedItem) {
        //console.log(element.title)
        console.log(pickedItem)
        element.stars = element.stars.slice(1, -1);
        element.genre = element.genre;
        if (element.YT_link != "NULL"){
          element.YT_link = "https://www.youtube.com/embed/" + element.YT_link;
        }
        else{
          element.YT_link = "https://www.youtube.com/embed/HhctenuKBYo" 
        }


        content = `
    <div class="cover"><div class="grid-flex">
      <div class="col col-text">
        <div class="Aligner-item">
          <h2>`+element.title+`</h2>
          <hr style="background-color:#C3073F">
          <h7> <b>IMDB Rating:</b></h7> `+element.rating+`<br>
          <h7> <b>Starring:</b></h7> `+element.stars+`<br>
          <h7> <b>Genre:</b></h7> `+element.genre+` <br>
          <h7> <b>Director:</b></h7> `+element.director+`<br>
          <h7> <b>Release Year:</b></h7> `+element.year+`<br>
          <h7> <b>Duration:</b></h7> `+element.duration+` mins<br>
        </div>

      </div>
      <div class="col position">
      <iframe width="500" height="450" src=`+element.YT_link+` frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div></div>
    `
      }
    });

    afterWheelDiv.innerHTML = content;


    afterWheelDiv.classList.add("after-wheel-div-expand");
  }

  function spin(d) {

    container.on("click", null);
    //all slices have been seen, all done
    console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
    if (oldpick.length == data.length) {
      console.log("done");
      container.on("click", null);
      return;
    }
    var ps = 360 / data.length,
      pieslice = Math.round(1440 / data.length),
      rng = Math.floor((Math.random() * 1440) + 360);

    rotation = (Math.round(rng / ps) * ps);

    picked = Math.round(data.length - (rotation % 360) / ps);
    picked = picked >= data.length ? (picked % data.length) : picked;
    if (oldpick.indexOf(picked) !== -1) {
      d3.select(this).call(spin);
      return;
    } else {
      oldpick.push(picked);
    }
    rotation += 90 - Math.round(ps / 2);
    vis.transition()
      .duration(3000)
      .attrTween("transform", rotTween)
      .each("end", function () {
        //mark question as seen
        d3.select(".slice:nth-child(" + (picked + 1) + ") path")
          .attr("fill", "#111");
        //populate question
        d3.select("#question h1")
          .text(data[picked].question);
        oldrotation = rotation;

        container.on("click", spin);

        afterSpinHandler(data[picked].label);
      });
  }


  //make arrow
  svg.append("g")
    .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h / 2) + padding.top) + ")")
    .append("path")
    .attr("d", "M-" + (r * .15) + ",0L0," + (r * .05) + "L0,-" + (r * .05) + "Z")
    .style({ "fill": "white" });

  //draw spin circle
  container.append("circle")
    .attr("cx", 0)
    .attr("cy", 0)
    .attr("r", 60)
    .style({ "fill": "white", "cursor": "pointer" });
  //spin text

  container.append("text")
    .attr("x", 0)
    .attr("y", 15)
    .attr("text-anchor", "middle")
    .text("SPIN")
    .style({ "font-weight": "bold", "font-size": "30px" });


  function rotTween(to) {
    var i = d3.interpolate(oldrotation % 360, rotation);
    return function (t) {
      return "rotate(" + i(t) + ")";
    };
  }


  function getRandomNumbers() {
    var array = new Uint16Array(1000);
    var scale = d3.scale.linear().range([360, 1440]).domain([0, 100000]);
    if (window.hasOwnProperty("crypto") && typeof window.crypto.getRandomValues === "function") {
      window.crypto.getRandomValues(array);
      console.log("works");
    } else {
      //no support for crypto, get crappy random numbers
      for (var i = 0; i < 1000; i++) {
        array[i] = Math.floor(Math.random() * 100000) + 1;
      }
    }
    return array;
  }
</script>
<script src='{% static "main.js" %}'></script>

</html>