* {
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;  /*background: #1A1A1D;*/
}

.navbar-brand {
    position: relative;
    background: url("./assets/logo.png");
    width: 108px;
    height: 58px;
    /*margin-top: 0px;*/
    background-size: contain;
}
h3 {
  margin: 10px;
  position: relative;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  margin: 10px;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nna{
/*   background-color: #2C3335;
*/    padding: 7px;
    font-size: 16px;
    color: #fff;
/*    font-family: Nunito;
*/    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    width: 100%;
}

#coover {
   background-color: #995650;
   color: #ffffff;
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline: none;
   width: 300px;
    height: 40px;
    padding: 1px;
/*    margin: auto;
*/   box-shadow:none;
   border:0!important;
   flex: 1;
   padding: 0 0.2em;
   cursor:pointer;
       padding: 7px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
/*    background-color: transparent;
*/    border: 2px solid#e50914;
    border-radius: 5px;
    color: white;
    float: left;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
/*    margin-top: 700px;
*/}

input[type="text"]
{
  vertical-align: middle;
    width: 100%;
    height: 50px;
    font-size: 40px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #fff;
}

.formm {
  margin: auto;
  text-align: center;
  /*width: 50%;*/
  margin-right: 290px;
  margin-top: 120px;
  border: 3px black;
  padding: 5px;
  width: 380px;
  background: #eae3f0;
  padding-left: 10px;
  float: right;
  /*overflow: auto;*/
  border-radius: .4em;
  justify-content: center;
}

select {
   background-color: #995650;
   color: #ffffff;
/*   display: block;
   margin-left: auto;
   margin-right: auto;*/
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   flex: 1;
   padding: 0 2em;
   cursor:pointer;
   font-size: 1.5em;
   font-family: 'PT Sans',sans-serif;
   /*font-family: 'Open Sans', sans-serif;*/
}
select::-ms-expand {
   display: none;
}

.select {
   background-color: #995650;
   position: relative;
   display: block;
   margin-left: auto!important;
   margin-right: auto!important;
   text-align: left;
   width: 24em;
   height: 3.9em;
   line-height: 2;
   overflow: auto;
   border-radius: .4em;
   /*margin: 25px;*/
}
.fa-caret-down {
   font-size: 30px;
   position: absolute;
   color: #733f3f;
   top: 5.5px;
   right: 24px;
   cursor:pointer;
}
.select::after {
   /*top: 55px;*/
   /*right: 0;*/
   padding: 0 1em;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}

.spinnnn{
  font-size: 60px;
  text-align: center;
  color: white;
font-family: 'Bebas Neue', cursive;
      letter-spacing: 2px;
}
.ops{

  display: flex;
  flex-direction: row;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  padding: 50px;
  /*position: absolute;*/
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /*top: 30px;*/
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #6F2232;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contain {
  /*margin-top: 0px;*/
  display: block;
  text-align: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  font-size: 12px;
  padding: 2px;
}

.select-box {
  display: flex;
  width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
}

.select-box .options-container {
  background: #6F2232;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
  position: absolute;
  z-index: 100;
}

.selected {
  background: #6F2232;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("https://dmconsulting.net/wp-content/uploads/2017/09/Drop-down-arrow-icon-rounded.png");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 90%;
  width: 30px;
  right: 15px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 104px;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* Searchbox */

.search-box input {
  width: 100%;
  padding: 12px 16px;
    font-family:  'PT Sans', sans-serif;
  font-size: 16px;
  position: absolute;
  border-radius: 8px 8px 0 0;
  z-index: 100;
  border: 8px solid #2f3640;

  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.search-box input:focus {
  outline: none;
}

.select-box .options-container.active ~ .search-box input {
  opacity: 1;
  pointer-events: auto;
}
.forfilters{
/*  float: left;
*/  padding-right: 40px;
     -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline: none;
   width: 80px;
    height: 40px;
    padding: 1px;
/*    margin: auto;
*/   box-shadow:none;
   border:0!important;
   flex: 1;
   padding: 0 0.2em;
   cursor:pointer;
       padding: 7px;
/*    font-size: 16px;
*/    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

input[type=submit] {
  background-color: #ffffff;
  margin: 0 auto;
  left: 100px;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 16px;
}

/*input[type=submit]:hover {
  background-color: #b3b3b3;
  font-size: 1.2em;
}*/

text {
    font-size: 20px;
    pointer-events: none;
}

#chart {
    position: relative;
    width: 500px;
    height: 500px;
    top: 50px;
    left: 200px;
    float: left;
}

/* for division to show selected movie*/
.belowWheel{
  margin-top: 900px;
  margin-bottom: 650px;

}
.col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  background-color: #333335;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}
.position{
  margin-left: 50px;
  margin-top: 30px;
}
hr{
  color: #C3073F;
}
@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}


input:focus {
  outline:none !important;
}





@media (max-width: 1430px)
{
  #chart {
    position: relative;
    width: 500px;
    height: 500px;
    top: 50px;
    left: 10%;
    float: left;
}
.formm {
  margin: auto;
  text-align: center;
  /*width: 50%;*/
  margin-right: 10%;
  margin-top: 120px;
  border: 3px black;
  padding: 5px;
  width: 380px;
  background: #eae3f0;
  padding-left: 10px;
  float: right;
  /*overflow: auto;*/
  justify-content: center;
}
}



@media (max-width: 1160px)
{
  #chart {
    position: relative;
    width: 500px;
    height: 500px;
    top: 50px;
    /*left: 20%;
    right: 20%;*/
      left: 30%;
/*  right: 4vw;
*/  float: none;
    justify-content: center;
}
.formm {
  margin: auto;
  text-align: center;
  /*width: 50%;*/
 /* margin-right: 25%;
  margin-left: 25%;*/
  left: 0;
  right: 0;
  float: none;
  margin-top: 120px;
  border: 3px black;
  padding: 5px;
  width: 380px;
  background: #eae3f0;
  padding-left: 10px;
/*  float: right;
*/  /*overflow: auto;*/
  justify-content: center;
}
}




/*
input[type="submit"]
{
    width: 100%;
    height: 50px;
    font-size: 26px;
    line-height: 1;
  vertical-align: middle;

}
*/