body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/*.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}*/

header {
      width: 100%;
      height: 100vh;
      background: url(https://images.cdn4.stockunlimited.net/preview1300/movie-time-wallpaper_1804982.jpg) no-repeat 50% 50%;
      background-size: cover;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      float: right;
      margin: 0;
      padding-right: 42px;
}

nav ul li {
      display: inline-block;
      padding: 16px 32px;
}

nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
}

.logo {

        height: 42px;
        float: left;
        margin: 16px 42px;
}

.content {
        font-size: 20px;
        margin: 15px;
}
  
nav.black{
        background: #000;
}

.icon-bar{

    color: #ffffff;
}